* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header section */
.header_container {
  margin: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_navbar {
  margin-right: 30px;
}

.header_navbar a {
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
}

.nav_style {
  background-color: red;
  color: white;
}

/* hero section */
.hero_container {
  width: 100%;
  position: relative;
}

.hero {
  width: 80%;
  padding: 3em;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero_title {
  width: 50%;
}

.hero p {
  margin: 2em auto;
  font-weight: 400;
  word-wrap: break-word;
}

.hero button {
  padding: 0.6em;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.hero_img {
  width: 30%;
  position: absolute;
  top: -10%;
  left: 50%;
}

main img {
  border-radius: 50%;
}

/* article section */
.article_title {
  width: 85%;
  margin: 0.5em auto;
  display: flex;
  justify-content: space-around;
}

.article_home {
  width: 50%;
  padding: 2em;
}

.article_home h2 {
  color: #e7332b;
}

.article_home .article_p1 {
  margin: 0.75em auto;
}

.article_list {
  width: 25%;
}
.article_list_container {
  margin: 3em;
  background: #ffffff;
  box-shadow: 4px 4px 20px 5px #f8ddda;
  border-radius: 8px;
  margin-left: -3em;
}
.article_list_items a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

i {
  color: red;
  width: 12%;
  font-size: 1.5rem;
}

/* article subsection */
section {
  width: 90%;
  margin: 0 auto;
}

section h2 {
  color: #e7332b;
  font-size: 2em;
  font-weight: 600;
  margin-left: 4em;
}

.subsection_container {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.subsection_items {
  background: #ffffff;
  box-shadow: 4px 4px 20px #f8ddda;
  border-radius: 8px;
  width: 30%;
  margin: 1em;
  padding: 1em;
}

.subsection_items h3 {
  width: 30%;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1em;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
  margin: 0;
}

.sign-in {
  padding: 40px 70px;
}
.hero-text {
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  color: #e7332b;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.labels {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

input {
  border: 1px solid #747070;
}

.input {
  font-size: 12px;
  width: 550px;
  height: 50px;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  color: #747070;
}

.info-header {
  font-weight: 400;
  font-size: 16px;
  color: #383737;
  padding-bottom: 5px;
  padding: 10px 0;
}

button {
  width: 120px;
  height: 45px;
  margin-top: 15px;
  background-color: #e7332b;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

footer {
  background-color: #f5f5f5;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 70px;
}

.column-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #383737;
  font-size: 15px;
  font-style: normal;
}

.a {
  text-decoration: none;
  font-weight: 400;
  color: #383737;
  font-size: 15px;
  font-style: normal;
}

.footer-bold {
  font-weight: 600;
  color: #383737;
  font-style: normal;
  font-size: 18px;
}

.footer-small {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #383737;
  padding-top: 10px;
}

.big {
  width: 50%;
  align-items: center;
}

.svg {
  padding-top: 10px;
  width: 5%;
}
